<div id="pricing-content">
  <section class="content-section">
    <div>
      <div>
        <%= react_router 'PricingRoutes', 'HistoryLocation', {}, { prerender_location: @location_path } %>
      </div>
    </div>
  </section>
</div>
